body{
    background-image: cover;
    background-image: radial-gradient(circle at center,white, black, white, black, orange,yellow,green,blue,indigo,violet); 
}

section{
    display: flex;
    align-items: center;
    justify-content: center;
}

.clock-face{
    position: relative;
    z-index: 1;
}

.min-hand{
    position: absolute;
    z-index: 2;
    
}

.hour-hand{
    position: absolute;
    z-index: 3;
}

.second-hand{
    position: absolute;
    z-index: 4;
}